body{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    background-color: #F0F2F5;
}
.dangnhap{
    margin: auto;
    position: relative;
    width: 64%;
}
.left{
    padding-top: 210px;
    width: 500px; 
}
.content{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
}
.title{
    margin-bottom: 12px;
    color: #1877F2;
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
}
.right{
    padding: 15px;
    margin-top: 100px;
    border-radius: 8px;
    position: absolute;
    right: 0px;
    top: 30px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}
.right input{
    margin-bottom: 12px;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    color: #1d2129;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    outline: none;
}

.right input:hover{
    border: solid 1px #1877F2;
}
::placeholder {
    color: #9094A9;
    opacity: 1;
}
#dangnhap{
    background-color: #1877F2;
    width: 100%;
    color: white;
    font-weight: bold;
    height: 48px;
    font-size: 20px;
}
#dangnhap:hover{
    cursor: pointer;
    background-color:  #166FE5;
}
.right div{
    font-size: 14px;
    color: #1877F2;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 20px;
    border-bottom: solid 1px #DADDE1;
}
.right div a{
    color: #1877F2;
    font-family: inherit;
    cursor: pointer;
    letter-spacing: 0.2px;
    text-decoration: none;
}
.right div a:hover{
    text-decoration: underline;
}
.right .new{
    border: none;
    padding-bottom: 0px;
}
#taotaikhoan{
    border: none;
    width: 200px;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
    background-color: #42B72A;
}
#taotaikhoan:hover{
    cursor: pointer;
    background-color: #36A420;
}

/* dang ky */
.modal-dialog{
    margin-top: 70px;
    width: 432px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}
.header{
    padding: 10px 15px 10px 15px;
    position: relative;
    border-bottom: solid 1px #DADDE1;
}
.header .title-header{
    font-size: 32px;
    line-height: 38px;
    font-weight: bold;
    color: #1C1E21;
}
.header .content-header{
    margin-top: 5px;
    color: #606770;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
}
.header div i{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    color: #606771;
}
.header div i:hover{
    cursor: pointer;
}
.modal-content .body{
    padding: 15px;
}
.modal-content .body .row{
    margin-bottom: 10px;
}
.modal-content .body .row .ho{
    padding-right: 5px;
}
.modal-content .body .row .ten{
    padding-left: 5px;
}
.modal-content .body .row div input{
    width: 100%;
    background: #F5F6F7;
    outline: none;
    border-radius: 5px;
    line-height: 16px;
    padding: 11px;
    border: 1px solid #ccd0d5;
}
.modal-content .body .row div label{
    padding-left: 15px;
    font-size: 12px;
}
.modal-content .body .row div i{
    font-size: 12px;
}
.ngaysinh input{
    background-color: white !important; 
    margin-top: -100px;
}
.col-md-4{
    margin-top: -12px;
}
.col-md-4 .row{
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: 16px;
    border: solid 1px #CCD0D5;
    border-radius: 5px;
    padding: 11px;
}
.col-md-4 .row .col-md-7{
    padding: 0px;
}
.col-md-4 .row .col-md-5{
    padding-right: 0px;
}
.row p{
    font-size: 11px;
    margin-left: 15px;
    margin-right: 15px;
}
.button{
    display: flex;
    justify-content: center;
}
.row .buttondangky{
    background-color: #00A400;
    border: none;
    outline: none;
    font-size: 18px;
    height: 36px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    padding: 0px 32px 0px 32px;
    margin-left: 10px;
}

